<% layout('/layouts/boilerplate')%>

<body>
   <div class="allaccess">
    <ul>
        <li><a href="/adminmugics" style="color: aliceblue;">Music</a></li>
        <li><a href="/adminusers"  style="color: aliceblue;">Users</a></li>       
    </ul>
   </div>
   
</body>